<div id="intro">
    <div class="row">
        <div class="large-6 medium-6 columns">
            <img src="/assets/img/Nodes.png" alt="logo" />
            <h3 class="color-white">Lorem Ipsum lloris consectetur adipiscing  Maecenas fermentum neque id lobortis</h3>
            <h6 class="color-white" style="line-height: 27px;">Lorem ipsum dolor sit amet, consectetur Maecenas Maecenas adipiscing elit.  Maecenas fermentum neque id lobortis consectetur. Integer facilisis diam metus, quis volutpat mauris porta eget.
            </h6>
        </div>
        <div class="large-6 medium-6 columns">
            <div id="sign-up">
                <h3 class="color-pink">Sign Up</h3>
                <hr />
                <label>Username</label>
                <input id="Text1" type="text" />
                <label>Password</label>
                <input id="Text2" type="text" />
                <button class="blue-btn">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<div id="features">
    <div class="row">
        <div class="large-3 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-airplane6"></div>
                <h6 class="text-center">Web Design</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-arrow124" style="color: rgb(23, 199, 85);"></div>
                <h6 class="text-center">Web Design</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-auricular2" style="color: rgb(8, 161, 181);"></div>
                <h6 class="text-center">Web Design</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-back5" style="color: rgb(255, 136, 0);"></div>
                <h6 class="text-center">Web Design</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
    </div>
</div>

<div id="why">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="text-center color-pink headings">Why Choose Us</h2>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-right border-bottom">
                <div class="glyph-icon flaticon-book53"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item  border-right border-bottom">
                <div class="glyph-icon flaticon-boat5"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-bottom ">
                <div class="glyph-icon flaticon-battery45"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-right ">
                <div class="glyph-icon flaticon-bag10"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item  border-right ">
                <div class="glyph-icon flaticon-backpack1"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item">
                <div class="glyph-icon flaticon-ball8"></div>
                <h4>Lorem Ipsum</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
    </div>
</div>

<div id="additional-info">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="color-white headings text-center">Something Great is Coming</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <img src="/assets/img/mockup.png" alt="mockup" />
        </div>
    </div>
</div>

<div id="pricing">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="text-center color-pink headings">Pricing</h2>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="testimonial">
    <div class="row">
        <div class="large-12 columns">
            <ul class="example-orbit-content" data-orbit>
                <li data-orbit-slide="headline-1">
                    <div class="text-center">
                        <h6 class="color-white">John Boom</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
                <li data-orbit-slide="headline-2">
                    <div>
                        <h6 class="color-white">Timonthy Boom</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
                <li data-orbit-slide="headline-3">
                    <div>
                        <h6 class="color-white">Kimmy Noop</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="row text-center">
        <div class="large-12 columns">
            <a href="" class="button radius blue-btn">Download Now</a>
        </div>
    </div>
</footer>
