<div id="intro">
    <div class="row">
        <div class="large-6 medium-6 columns">
            <h1 class="header-title">DemandKit</h1>
            <h4 class="header-subtitle">taking the effort out of building and running your on-demand business.</h4>
        </div>
        <div class="large-6 medium-6 columns">
            <div id="sign-up">
                <h3 class='header-join-list-title'>Join the Waiting List</h3>
                <hr />
                {{#unless didSubmitWaitlist}}

                    {{input value=waitlistName id="name-input" type="text" placeholder="Hank Scorpio" name="name"}}
                    {{input value=waitlistEmail id="email-input" type="text" placeholder="hank@globex.com" name="email"}}
                    <button {{action 'submitWaitlist'}} class="blue-btn">Submit</button>
                {{else}}
                    <h5 class='header-join-list-title'>request submitted :o)</h5>
                {{/unless}}
            </div>
        </div>
    </div>
</div>
<div id="features">
    <div class="row">
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-line13" style="color: rgb(30, 152, 159);"></div>
                <h6 class="text-center">Scheduling</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-clipboard11" style="color: rgb(0, 0, 0);"></div>
                <h6 class="text-center">Job management</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-speech7" style="color: rgb(57, 165, 247);"></div>
                <h6 class="text-center">Customer relationships</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-location21" style="color: rgb(255, 136, 0);"></div>
                <h6 class="text-center">Location tracking</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-money1" style="color: rgb(23, 199, 85);"></div>
                <h6 class="text-center">Billing and Payments</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="featured-item">
                <div class="glyph-icon flaticon-user20" style="color: rgb(83, 46, 122);;"></div>
                <h6 class="text-center">User management</h6>
                <div>
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>
        </div>



    </div>
</div>

<div id="why">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="text-center color-pink headings">Business Examples</h2>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-right border-bottom">
                <div class="glyph-icon flaticon-heart35"></div>
                <h4>Beauty</h4>
                <div>
                    create an on-demand beauty provider delivering professional and affordable hair and makeup services to your clients' home, office, hotel, or wherever they may be.
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item  border-right border-bottom">
                <div class="glyph-icon flaticon-cart5"></div>
                <h4>Groceries</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-bottom ">
                <div class="glyph-icon flaticon-cross11"></div>
                <h4>Medical</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item border-right ">
                <div class="glyph-icon flaticon-settings10"></div>
                <h4>Handyman</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item  border-right ">
                <div class="glyph-icon flaticon-camera23"></div>
                <h4>Photography</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
        <div class="large-4 columns" style="padding: 0px;">
            <div class="why-item">
                <div class="glyph-icon flaticon-boat5"></div>
                <h4>Transit</h4>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ligula id ullamcorper luctus. Etiam ex magna, blandit vitae rutrum at
                </div>
            </div>
        </div>
    </div>
</div>

<div id="additional-info">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="color-white headings text-center">Something Great is Coming</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <img class="coming-soon" src="/assets/img/shocked.png" alt="shocked" />
        </div>
    </div>
</div>

{{!-- <div id="pricing">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="text-center color-pink headings">Pricing</h2>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <div class="pricing-title">
                $99.99
            </div>
            <ul class="pricing-table">
                <li class="description">An awesome description</li>
                <li class="bullet-item">1 Database</li>
                <li class="bullet-item">5GB Storage</li>
                <li class="bullet-item">20 Users</li>
                <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
        </div>
    </div>
</div> --}}

{{!-- <div id="testimonial">
    <div class="row">
        <div class="large-12 columns">
            <ul class="example-orbit-content" data-orbit>
                <li data-orbit-slide="headline-1">
                    <div class="text-center">
                        <h6 class="color-white">John Boom</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
                <li data-orbit-slide="headline-2">
                    <div>
                        <h6 class="color-white">Timonthy Boom</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
                <li data-orbit-slide="headline-3">
                    <div>
                        <h6 class="color-white">Kimmy Noop</h6>
                        <p class="color-white">Phasellus mattis ullamcorper malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed nulla ut ex condimentum accumsan sed at nulla</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
 --}}

{{!-- <footer>
    <div class="row text-center">
        <div class="large-12 columns">
            <a href="" class="button radius blue-btn">Download Now</a>
        </div>
    </div>
</footer>
 --}}
